* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.ContainerSales {
  min-height: 100vh; /* Faz com que o fundo ocupe a altura total da tela */
  background: linear-gradient(135deg, #00258a 0%, #0134a0 50%, #0e63ed 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mantém o conteúdo no topo */
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
